<body>
    {% if not deleted %}
        {% if not errors %}
            <h1>Student id:{{ student.id }}.<br>Student name:{{ student.name }}.<br> Student group:{{ student.group }}.<br> Student phone_number: {{ student.phone_number }}.<br></h1>
            <h2>
                <form method="POST" action="/edit_student/{{ student.id }}/">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </h2>
        {% else %}
            <h1>{{ errors }}</h1>
        {% endif %}
    {% else %}
        <h1>Student sucsesfully deleted</h1>
        <h2>
            <button  style="border: 1px solid black; width: 20%; height: 40px; "><a href="/">ENTER THE INDEX PAGE</a></button>
        </h2>

    {% endif %}
</body>

