<html>
<div style="border: 1px solid black; width: 50%; height: 50%; ">
    <form action="{% url 'mark' %}" method='POST' > {% csrf_token %}
        <select name="student_id" style="border: 1px solid black; border-radius: 8px; width: 50%; height: 30px; margin: 10px 25%; padding-left: 15px;">
            {% for student in students %}
            <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select>
        <input  type="number" name="mark" style="width: 20%; height: 40px; margin: 20px 40%;">
        <button type="submit" style="border: 1px solid black; width: 20%; height: 40px; margin: 20px 40%; color: aqua; background-color: black;">
            Mark student
        </button>
    </form>
    <ul>
        {% for mark in marks %}
        <li>{{ mark.id }}. {{ mark.student }} - {{ mark.mark }} ------ {{ mark.created_at }} </li>
        {% endfor %}
    </ul>
</div>
</html>

